/.vscode
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Build
/KitchenChaos_Multiplayer.sln
/KitchenChaos_MultiplayerValidate.sln
/Library
/Logs
/QFSW.QC.csproj
/QFSW.QC.Demo.csproj
/QFSW.QC.Editor.csproj
/QFSW.QC.Editor.Tools.csproj
/QFSW.QC.Extras.csproj
/QFSW.QC.Grammar.csproj
/QFSW.QC.Parsers.csproj
/QFSW.QC.QGUI.csproj
/QFSW.QC.ScanRules.csproj
/QFSW.QC.Serializers.csproj
/QFSW.QC.Suggestors.csproj
/QFSW.QC.UI.csproj
/Temp